
<h1>PLEASE SHOW</h1>
<table class="productTable">
    <tr>
        <th>SKU</th>
        <th>Name</th>
        {{assignVar "count" 0}}
        {{#each cfacets}}
            {{#unless  (getVar "count") "==="  3 }} 
                {{#if visible}}
                <div style='display:none'>{{incrementVar "count"}}</div>
                    <th>{{ title }}</th>
                {{/if}}
            {{/unless}}
        {{/each}}
        
        <th>QTY</th>
    </tr>
    {{#each products}}
    <tr class="productRow">
        <td class="product-sku"><div class="mobile">SKU</div>
            <a href="{{url}}" aria-label="{{sku}}" >{{ sku }}</a>
        </td>
        <td class="product-description"><div class="mobile">Name</div>
            <a href="{{url}}" aria-label="{{name}}" data-product-id="{{id}}">{{ name }}</a>
        </td>
        {{assignVar "count" 0}}
            {{#each ../cfacets}}
       
                {{#unless  (getVar "count") "==="  3 }} 
                    {{#if visible}}
                        {{assignVar "data_set" 0}}
                        <div style='display:none'>{{incrementVar "count"}}</div>
                        {{#each ../custom_fields}}   
                            {{#if  ../title '===' name }}
                                {{assignVar "data_set" 1}}
                                <td>
                                        <div class="mobile">{{ ../title }}</div>
                                        {{ value }}
                                </td>    
                            {{/if}}
                        {{/each}}
                         {{#unless  (getVar "data_set") "==="  1 }} 
                                {{assignVar "data_set" 0}}
                                <td><div class="mobile">{{title }}</div>
                                </td>  
                         {{/unless}}
                    {{/if}}
                {{/unless}}
            {{/each}}

            <td class="product-qty">
                <div class="mobile">QTY</div>
                <input type="text"  data-product-id="{{id}}"  placeholder="0">
            </td>
        </tr>
    {{/each}}
    
</table>
<button  type="button button--small"  onclick="addAllItems()">Add to cart</button>
<!--button class="button button--small card-figcaption-button" type="button"  onclick="addAllItems()">Add to cart</button-->
